- content_for :images do
  - prep_slideshow
  = @image_divs.html_safe

.col-xs-12.col-sm-6.col-sm-offset-3
  - new = @user.new_record?
  - url = new ? users_path : user_path(@user)
  - user_t = "activerecord.attributes.user"
  = form_for @user, url: url, html: { class: "form-horizontal well" } do |f|

    .form-group
      .col-sm-10.col-sm-offset-1
        = f.text_field :username, class: 'form-control', id: 'username', placeholder: I18n.t("#{user_t}.username")

    .form-group
      .col-sm-10.col-sm-offset-1
        = f.text_field :email, class: 'form-control', id: 'email', placeholder: I18n.t("#{user_t}.email")

    .form-group
      .col-sm-10.col-sm-offset-1
        = f.password_field :password, class: 'form-control', id: 'password', placeholder: I18n.t("#{user_t}.password")

    .form-group
      .col-sm-10.col-sm-offset-1
        = f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation', placeholder: I18n.t("#{user_t}.password_confirmation")

    .form-group
      .col-sm-9.col-sm-offset-1
        = f.button I18n.t("helpers.submit.create", model: I18n.t('activerecord.model.user')).html_safe, class: "btn btn-primary"
          
