.col-xs-12.col-sm-6.col-sm-offset-3
  - new = @user.new_record?
  - url = new ? users_path : user_path(@user)
  = form_for @user, url: url, html: { class: "form-horizontal well" } do |f|

    .form-group
      = f.label :username, class: 'col-xs-12 col-sm-3 control-label'
      .col-xs-12.col-sm-9
        = f.text_field :username, class: 'form-control', id: 'username', placeholder: 'Username'

    .form-group
      = f.label :email, class: 'col-xs-12 col-sm-3 control-label'
      .col-xs-12.col-sm-9
        = f.text_field :email, class: 'form-control', id: 'email', placeholder: 'Email'

    .form-group
      = f.label :password, class: 'col-xs-12 col-sm-3 control-label'
      .col-xs-12.col-sm-9
        = f.password_field :password, class: 'form-control', id: 'password', placeholder: 'Password'

    .form-group
      = f.label :password_confirmation, "Password Confirmation", class: 'col-xs-12 col-sm-3 control-label'
      .col-xs-12.col-sm-9
        = f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation', placeholder: 'Password Confirmation'

    .form-group
      .col-sm-9.col-sm-offset-3
        = f.button class: "btn btn-primary" do
          %span.glyphicon.glyphicon-plus
          #{new ? "Add" : "Update"} Admin
