%nav.small-nav.navbar-inverse.navbar{role: :navigation, style: 'margin: 0px;'}
  .container
    .navbar-header.white-border-right
      %button.navbar-toggle{type: :button, :'data-toggle' => 'collapse', :'data-target' => '#main-navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path, style: 'padding:0px'}
        %img{alt: 'Cycle Fitness', src: asset_path('logo.png'), height: '61px'}


    .collapse.navbar-collapse#main-navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to root_path do
            %span.glyphicon.glyphicon-home
            %span.small= I18n.t "views.application.home"

        %li
          = link_to q_and_a_path do
            %span.glyphicon.glyphicon-question-sign
            %span.small= I18n.t "views.application.q_and_a"

        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{type: :button, :'data-toggle' => 'dropdown', href: '#'}
              %span.glyphicon.glyphicon-cog
              %span.small= I18n.t("views.application.admin")
              %span.glyphicon.glyphicon-chevron-down
                %ul.dropdown-menu{role: :menu, :'aria-labelledby' => 'dropdown-people'}
                  %li{role: :presentation}
                    %a{href: '#', role: :menuitem, :'tab-index' => '-1'}
                      %span.glyphicon.glyphicon-plus
                      =I18n.t("views.application.admin_drop.new_product")

                  %li{role: :presentation}
                    %a{href: register_path, role: :menuitem, :'tab-index' => '-1'}
                      %span.glyphicon.glyphicon-plus
                      = I18n.t("views.application.admin_drop.new_admin")
                  %li{role: :presentation}
                    %a{href: '#', role: :menuitem, :'tab-index' => '-1'}
                      Placeholder
                  %li{role: :presentation}
                    %a{href: "#", role: :menuitem, :'tab-index' => '-1'}
                      Placeholder

        %li{style: 'margin-top: 20px'}
          %span.small= I18n.t("views.application.language")
          %select#locale{autocomplete: 'off'}
            %option{value: 'en', selected: (params[:locale] == 'en')} English
            %option{value: 'es', selected: (params[:locale] == 'es')} Spanish

      .navbar-form.navbar-right{role: 'search'}
        .form-group
          %input.form-control{type: 'text', placeholder: I18n.t('views.application.search') }
        %button.btn.btn-default{type: 'submit'}
          %span.glyphicon.glyphicon-search
          = I18n.t "views.application.search"
