!!! 5
%html
  %head
    %title #{page_title(@title)} || Cycle Fitness
    %link{rel: 'icon', type: 'image/png', href: asset_path('favicon.png')}
    = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}

  %body{style: 'height: 100%'}
    = render 'header'
    
    .container
      .row
        .col-xs-12
          #flash
            - if flash
              - flash.each do |key, value|
                .alert{class: "alert-#{key}"}
                  %button.close{type: :button, :'data-dismiss' => 'alert', href: '#'} &times;
                  %p= value

        = content_for(:page_title)

        =yield

        = render 'footer'
